
.logo-btn{
    position: absolute;
    left:0;
    margin-left: 3.2rem;
    z-index: 100;
    padding: 32px;

}
.ak{
    display: none;
}

.nav_links{
    list-style: none;

    color: #868686;
    text-align: center;
    display: flex;

position: absolute;
left: 45%;
margin-top: 20px;
}
.nav_links>a{
    padding-left: 22px;
  
}

@media only screen and (max-width:595px){
.nav_links{
    margin-left: 0;
    
}
.logo-btn{

    display: none;
    
}
.ak{
    display: block;
margin-left: -2rem;

}
}
.navbar.active{
    background: rgba(0, 0, 0, 0.725);
    backdrop-filter: blur(4px);
    transition:  0.4s ease;
}
.navbar{
background: transparent;
font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
color: rgb(246, 246, 246);
cursor: default;
box-sizing: border-box;
position: fixed;
z-index: 5;
top: 0px;
left: 0px;
display: flex;
-webkit-box-pack: center;
justify-content: center;
flex-direction: column;
height: 6rem;
padding: 0px 1rem;
width: 100vw;
z-index: 100;

}


/*scroll behaviouur pe animaiton laganni he*/
/*Media quieres of logo*/
/* @media only screen and (max-width:960px){
    .nav-links{
    width: 1140px;
        background-color: aqua;
    }
   svg, .logo-btn{
position: absolute;
right: 0;
width: 120px;

    }
} */
