.slider-wrapper{
padding: 22px;



}
@media (max-width:770px){
.slider-info{
width: 100%;
text-align: center;
}
}

/* @media (max-width:970px){
    .slider-wrapper{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
    }
    .slider-info{
        width: auto;
        margin-top: 5rem;
        text-align: center;
    }
 
}

.slider-container {
    background-color: #dcb3fa11;
  padding: 40px;
  width:30rem;
  
  }
 */
